
  
.figure{
    font-size:  48px; 
    color:black;
}


/*13.02.2020*/

ul{
    list-style-type:none;
    margin:0;
    padding:0;
    border:1px dotted red;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap-reverse;
    justify-content:space-between;
    align-items: stretch;
    height: 200px
}

li{
    border:1px solid black;
    margin:0.5 em;
    padding:0.5em;
}

.flex1{
    order: 1;
}